[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
jieba = "*"
cchardet = "*"
lxml = "*"
selenium = "*"
pynput = "*"
pandas = "*"
scipy = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
jupyter = "*"
jupyterlab = "*"
pip-review = "*"

[requires]
python_version = "3.6"
