{% extends "client/base.html" %}
{% load static %}

{% block nav5 %}
active
{% endblock nav5 %}

{% block content %}
<main role="main" class="container">
</main>
{% endblock content %}

{% block jssrc %}
<script type="text/javascript" src="{% static "client/js/base-table.js" %}"></script>
<script type="text/javascript" src="{% static "client/js/assocword-table.js" %}"></script>
<script type="text/javascript">
    const result = {{ result | safe }};
    const table = new AssocwordTable(result);
    table.init();
</script>
{% endblock jssrc %}

