{% extends "client/base.html" %}
{% load static %}

{% block csssrc %}
<link rel="stylesheet" type="text/css" href="{% static "client/css/index.css" %}">
{% endblock csssrc %}

{% block nav1 %}
active
{% endblock nav1 %}

{% block content %}
<main role="main">
    <div class="jumbotron bg-pic text-white">
        <div class="container">
          <h1 class="display-4">基于垂直搜索引擎的关联关键词可视化的实现</h1>
          <p>本项目基于Python实现了网页爬虫对特定站点的网页文章内容进行爬取，同时实现了利用TF-IDF和TextRank对爬取的文章进行关键词提取，并使用Apriori算法对关键词进行关联规则分析。最后使用Django框架搭建后端服务器，使用Bootstrap和Jquery等框架搭建前端可视化网页。</p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">当前文章数</div>
            <div class="card-body circle" id="circle1">
              <strong>0<i>篇</i></strong>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">当前频繁关键词数</div>
            <div class="card-body circle" id="circle2">
              <strong>0<i>个</i></strong>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">当前关联词数</div>
            <div class="card-body circle" id="circle3">
              <strong>0<i>个</i></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock content %}

{% block jssrc %}
<script type="text/javascript" src="{% static "client/js/circle-progress.js" %}"></script>
<script type="text/javascript" src="{% static "client/js/index.js" %}"></script>
<script type="text/javascript">
    const result = {{ result | safe }};
    initProcess(result);
</script>
{% endblock jssrc %}
