{% extends "client/base.html" %}
{% load static %}

{% block nav4 %}
active
{% endblock nav4 %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="row" style="margin-top: 2em;">
            <div class="col table-striped">
                <table class="table table-hover" id="result-table">
                    <thead>
                        <tr class="table-info">
                            <th scope='col'>#</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Table navigation">
          <ul class="pagination justify-content-end">
          </ul>
        </nav>
    </div>
</main>
{% endblock content %}

{% block jssrc %}
<script type="text/javascript" src="{% static "client/js/base-table.js" %}"></script>
<script type="text/javascript" src="{% static "client/js/keyword-table.js" %}"></script>
<script type="text/javascript">
    var dataResult = {{ result_json | safe }};
    var dataLen = {{ result_len | safe }};
    let title = {{result_title | safe}};
    let result = { data: dataResult, title: title, len: dataLen };
    let table = new KeywordTable(result);
    table.init();
</script>
{% endblock jssrc %}

